@use "../../styles/variables" as *;

.list{

    &__item{
        display: flex;
        border: 2px solid black;
        margin: 10px 0;
        height: 60px;
        width: 250px;
        align-items: center;
        border-radius: 10px;
        background-color: $color-red;  
        white-space: wrap;
        justify-content: space-between;
        color: black;      
    }

    &__input{
        margin: 10px;
    }

    &__input:checked + &__description{
        text-decoration: line-through;
    }

    &__description{
        font-size: 1.1rem;
        text-align: center;
    }

    &__button{
        margin: 10px;
        background-color: transparent;
        border: none;
        color: black;
        font-size: 1.4rem;
    }
}
