@use "../../styles/variables" as *;

.maps{

   &__container{
    height: 30rem;
    width: 60rem;
   }
}

@media screen and (min-width: 1024px) {
   .maps{

      &__container{
         width: 70rem;
      }
   }
}