@use "../../styles/variables" as *;
.location{
    border: 4px solid $color-navy;
    padding: 10px 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $color-blue;
    color: $color-white;
    border-radius: 10px;
    width: 20rem;
    
    &__heading{
        text-decoration: underline;
    }
}