@use "../../styles/variables" as *;

.weather{
    border: 4px outset black;
    padding: 10px 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-white;
    background-color: $color-navy;
    width: 30rem;
    justify-content: space-around;

    &__heading{
        text-decoration: underline;
    }
    
    
}