@use "../../styles/variables" as *;

.forecast{
    display: flex;
    border: 2px solid black;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: #FFEBCD;
}