@use "../../styles/variables" as *;

.nav {
    height: 10vh;
    width: 100%;
    background-color: $color-blue;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__button{
        font-size: 1.2rem;
        border: none;
        color: $color-white;
        font-weight: 600;
        background-color: transparent;
    }
}